.donation {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 2rem auto;
  gap: 4rem;
}
.image {
  width: 100%;
  min-width: 400px;
  height: auto;
}

.donationBottom {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
}
.progressBarContainer {
  width: 90%;
}

@media screen and (max-width: 1024px) {
  .donation {
    flex-direction: column;
  }
}
