.heading {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    gap: 24px;
    margin: 2rem 0;
}

.frame100 {
    align-self: center;
    height: 92px;
}
