.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    gap: 56px;
    width: 80%;
}
.aboutContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
    min-width: 400px;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

@media screen and (max-width: 1024px) {
    .aboutContainer {
        flex-direction: column;
        gap: 2rem;
    }
    .content {
        width: 80%;
    }
    .image {
        width: 80%;
    }
}
@media screen and (max-width: 768px) {
    .content {
        width: 100%;
    }
    .image {
        width: 100%;
    }
}
