* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbut2 {
  height: 48px;
  width: 143px;
  border: none;
  border-radius: 8px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(139, 69, 19, 1);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
