* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navButton2 {
  border: none;
  border-radius: 8px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(139, 69, 19, 1);
  height: 48px;
  width: 143px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .navButton2 {
    padding: 8px 16px;
    width: fit-content;
  }
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
