/* Hero Section */
.hero {
  height: 969px;
  background: rgba(147, 206, 170, 1);
}


.nav {
  position: absolute;
  display: flex;
  width: 1420px;
  height: 96px;
  top: 32px;
  justify-self: center;
  padding: 24px 24px 24px 28px;
  gap: 0px;
  border-radius: 16px;
  justify-content: space-between;
  background: rgba(255, 255, 255, 1);
}

.frame4 {
  display: flex;
  height: 48px;
  gap: 32px;
}

.frame2 {
  list-style-type: none;
  display: flex;
  width: 646px;
  height: 48px;
  gap: 0px;
  border: 0px 0px 0px 1px;
}

.frame2 li {
  display: flex;
  padding: 8px 24px 8px 24px;
  gap: 7px;
}

.frame3 {
  width: 324px;
  gap: 16px;
  display: flex;
}

#navbut1 {
  width: 165px;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid rgba(139, 69, 19, 1);
  background-color: rgba(255, 255, 255, 1);
  color: rgba(139, 69, 19, 1);
}

.navbut2 {
  height: 48px;
  width: 143px;
  border: none;
  border-radius: 8px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(139, 69, 19, 1);
}

.arrow {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 52px;
  height: 120px;
  top: 390px;
  left: 85px;
  gap: 16px;
}

.heroText {
  position: absolute;
  width: 816px;
  height: 369px;
  top: 234px;
  left: 250px;
}

.frame6 {
  width: 816px;
  height: 265px;
  gap: 24px;
}

.frame10 {
  width: 815px;
  height: 177px;
  gap: 12px;
}

.heroImage {
  position: absolute;
  width: 420px;
  height: 623px;
  top: 237px;
  left: 999px;
}

.rectangle {
  width: 420px;
  height: 560px;
  gap: 0px;
  border-radius: 1000px 1000px 0px 0px;
  border: 8px;
  background-color: rgba(17, 2, 39, 1);
  border: 8px solid rgba(255, 255, 255, 1);
}

/* About Us */

.about {
  display: grid;
  justify-self: center;
  width: 1420px;
  height: 969px;
  gap: 56px;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  width: 936px;
  height: 180px;
  gap: 24px;
}

.frame100 {
  align-self: center;
  height: 92px;
}

.content {
  width: 1420px;
  height: 430px;
  display: flex;
}

.frame13 {
  width: 593px;
  height: 350px;
  gap: 48px;
}

.frame12 {
  width: 593px;
  height: 246px;
  gap: 24px;
}