.nav {
  position: absolute;
  display: flex;
  height: 96px;
  top: 32px;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  border-radius: 16px;
  background: rgba(255, 255, 255, 1);
  width: 80%;
  z-index: 11;
}

.frame4 {
  display: flex;
  gap: 1rem;
}

.frame2 {
  list-style-type: none;
  display: flex;

  gap: 0px;
  border: 0px 0px 0px 1px;
}

.frame2 li {
  display: flex;
  padding: 8px 24px 8px 24px;
  gap: 7px;
}

.frame3 {
  gap: 8px;
  display: flex;
}

#navbut1 {
  width: 165px;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid rgba(139, 69, 19, 1);
  background-color: rgba(255, 255, 255, 1);
  color: rgba(139, 69, 19, 1);
}

@media screen and (max-width: 1100px) {
  .nav {
    width: 90%;
  }
}
@media screen and (max-width: 1024px) {
  .nav {
    width: 90%;
  }
}
@media screen and (max-width: 900px) {
  .frame2 {
    display: none;
  }
}
