.nav {
    position: absolute;
    display: flex;
    /* width: 1420px; */
    height: 96px;
    top: 32px;
    justify-self: center;
    padding: 24px 24px 24px 28px;
    gap: 0px;
    border-radius: 16px;
    justify-content: space-between;
    background: rgba(255, 255, 255, 1);
}

.frame4 {
    display: flex;
    height: 48px;
    gap: 32px;
}

.frame2 {
    list-style-type: none;
    display: flex;
    width: 646px;
    height: 48px;
    gap: 0px;
    border: 0px 0px 0px 1px;
}

.frame2 li {
    display: flex;
    padding: 8px 24px 8px 24px;
    gap: 7px;
}

.frame3 {
    width: 324px;
    gap: 16px;
    display: flex;
}

#navbut1 {
    width: 165px;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid rgba(139, 69, 19, 1);
    background-color: rgba(255, 255, 255, 1);
    color: rgba(139, 69, 19, 1);
}