.cause {
  background-color: rgba(253, 247, 244, 1);
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem auto;
}

.causeContainer {
  display: flex;
  width: 100%;
  gap: 32px;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .causeContainer {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
}
