.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
.top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3rem;
    gap: 56px;
}
.bottom {
    display: flex;
    width: 100%;
    margin: 2rem 0;
    justify-content: space-between;
}
.Li {
    font-size: 18px;
    font-weight: 400;
    line-height: 32.4px;
}
.menuContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.social {
    gap: 24px;
    display: flex;
    flex-direction: column;
    width: 25%;
}
@media screen and (max-width: 1024px) {
    .footer {
        flex-direction: column;
    }
    .top {
        flex-direction: column;
        gap: 2rem;
    }
    .menuContainer {
        /* flex-direction: column; */
        gap: 2rem;
    }
    .bottom {
        flex-direction: column;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }
    .social {
        width: 100%;
        justify-content: left;
        align-items: start;
    }
}
