.card {
  /* width: 452px; */
  border-radius: 8px;
  width: 30%;
}

.causeImage {
  padding: 32px;
  gap: 16px;
}

.causeGoal {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  line-height: 25.2px;
  letter-spacing: 0.15em;
}

.causeText {
  display: flex;
  flex-direction: column;
  float: left;

  padding: 32px;
  gap: 16px;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

@media screen and (max-width: 1024px) {
  .card {
    width: 90%;
  }
}
